<div ng-controller="MessagesCtrl">

    <div class="row">
        <div class="col-md-4">
            <div id="conversations-list" class="list-group">
                <div ng-repeat="conversation in conversations"
                     class="conversation list-group-item" ng-class="{ active: conversation.id == current_conversation.id }"
                     ng-click="setConversation(conversation)">
                  <div class="time pull-right">
                    <span ng-if="conversation.last_timestamp">{{ conversation.last_timestamp*1000 | date:'yyyy/MM/dd HH:mm:ss' }}</span>
                  </div>
                  <div ng-if="conversation.peer_type == 'user'">
                    <span class="glyphicon glyphicon-user"></span>
                    <strong>{{ conversation.first_name }} {{ conversation.last_name }}</strong>
                  </div>
                  <div ng-if="conversation.peer_type == 'chat'">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                    <strong>{{ conversation.title }}</strong>
                  </div>
                  <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="max-height:600px;overflow:auto;">
            <div ng-if="current_conversation" ng-repeat="message in current_conversation.messages|orderBy:'-date' track by message.id">
                 <div class="bubble" ng-class="{ own: message.out }" ng-if="!message.service">

                   <div class="pull-right">
                     <div>[<span class="time">{{ message.date*1000 | date:'yyyy/MM/dd HH:mm:ss' }}</span>]</div>
                   </div>

                   <div class="pull-left">
                      <div ng-if="!message.out && message.from.id != current_conversation.id" class="participant">
                        {{ message.from.first_name }} {{ message.from.last_name }}
                      </div>
                      <a ng-if="message.media.url" href="{{ message.media.url }}" target="_blank">
                        <img ng-if="message.media.thumb" ng-src="{{ message.media.thumb }}" title="{{ message.media.caption }}"/>
                        <span ng-if="!message.media.thumb" class="glyphicon"
                              ng-class="message.media.type=='webpage' ? 'glyphicon-link' : 'glyphicon-download'">
                        </span>
                        <span ng-if="!message.media.thumb" ng-bind-html="message.media.caption || message.text || message.media.type"></span>
                      </a>
                      <span ng-if="!message.media.url">
                        <span ng-bind-html="message.text"></span>
                      </span>
                   </div>

                   <div class="clearfix"></div>
                 </div>
            </div>
        </div>

        <div class="col-md-4">
          <div class="pull-right btn-more" role="more" aria-label="Actions">
             <button type="button" class="btn btn-primary" ng-click="conversationHistory(true)" ng-disabled="current_conversation.all_read">
               <span class="glyphicon glyphicon-menu-down"></span>
               More...
             </button>
          </div>
          <div class="clearfix"></div>
        </div>

    </div>

</div>
